.popup.popup-accept
  .popup__row
    .popup__wrapper.popup-accept__wrapper
      .popup-accept__logo
        img(src="./images/logo-desktop.svg" alt="Логотип")

      .popup-accept__text-content
        span.popup-accept__title Спасибо, #[br] ваша заявка принята!
        span.popup-accept__description В ближайшее время мы с вами свяжемся.